@import "stisla-theme/scss/variable";

.action-column {
    width: 10%;
    text-align: center;
}

.textarea.form-control {
    height: auto !important;
}

.table-img {
    max-height: 75px;
    max-width: 75px;
    object-fit: cover;
}

.section-header {
    box-shadow: 0 2px 18px 0px rgba(0, 0, 0, .1) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 10px !important;
}

.side-menus {
    a {
        i {
            font-size: 1.3em !important;
        }

        span {
            font-size: 1rem;
        }
    }
}

.ribbon {
    clear: both;
    padding: 5px 12px;
    margin-bottom: 15px;
    box-shadow: 2px 5px 10px rgba(49, 58, 70, .15);
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px 0 0 3px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 1;

    &:before {
        content: " ";
        border-style: solid;
        border-width: 10px;
        display: block;
        position: absolute;
        bottom: -10px;
        margin-bottom: -10px;
        z-index: -1;
        border-left-width: 0;
        right: 0;
    }
}

.ribbon-primary {
    background: color(primary);
}

.ribbon-primary:before {
    border-color: color(primary) transparent transparent;
}

.product-card {
    box-shadow: 0 2px 18px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;

    &__image {
        height: 300px;
        width: 100%;
        object-fit: contain;
    }
}

.card-image-hover {
    transition: all 0.2s ease-in-out;
}

.card-image-hover:hover {
    //box-shadow: 0 2px 18px 8px rgba(0, 0, 0, .1);
    //transform: translateY(-44px) scale(1.0);
    //background: white;
    ////z-index: 9;
    //border-radius: 30px;
}

.card {
    .card-header-form {
        .input-group {
            .form-control, {
                border-radius: 30px 0 0 30px !important;

            }

            .input-group-btn .btn {
                border-radius: 0 30px 30px 0 !important;
            }
        }
    }
}
.image-preview input{
    width: 250px;
}
.btn-icon-round{
    border-radius: 50%;height: 28px;
}

.category-title{
    display: block;
    text-transform: uppercase;
    font-family: 'Jost*';
    font-weight: 700;
    font-size: 24px;
}

.category-title-mobile{
    align-self: center;
}

@media screen and (max-width:320px) {
    .category-title {
        font-size: 16px;
    }
    .menCategory{
        width: 100%;
    }
}

.category-no-found{
    display: block;
    font-family: 'Jost*';
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 999px){
    .float-left.brandLogoFloatLeft{
        display: inherit !important;
        margin-left: 0 !important;
        margin-top: 5px !important;
    }
}

.chooseRadioButton{
    top: 1px;
    position: absolute;
    left: -94px;
    width: inherit;
}


 //Slick arrow
//.men-container_slider {
//    position: relative;
//}
//
//.men-container_slider .slick-dots {
//    position: absolute;
//    left: 0;
//    bottom: -68px;
//    padding: 0;
//    margin: 0 auto;
//    text-align: center;
//    width: 100%;
//}
//
//.men-container_slider .slick-dots li {
//    display: inline-block;
//    width: 12px;
//    height: 12px;
//    background-color: rgba(255, 255, 255, 0.13);
//    margin: 3px;
//    border-radius: 50%;
//    transition: 0.4s;
//}
//
//.men-container_slider .slick-dots li.slick-active {
//    background-color: #00b074;
//}
//
//.men-container_slider .slick-dots li button {
//    display: none;
//}
//
//
//.slick-arrow {
//    margin: 0;
//    position: absolute;
//    top: 50%;
//    transform: translateY(-50%);
//    font-size: 1rem;
//    color: white;
//    height: 3rem;
//    width: 3rem;
//    background: green;
//    border-radius: 50%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//}
//
//.prev-slick-arrow {
//    left: -4rem;
//    @media screen and (max-width: 1024px) {
//        top: inherit;
//        left: 0;
//        bottom: -6rem;
//    }
//}
//
//.next-slick-arrow {
//    right: -4rem;
//    @media screen and (max-width: 1024px) {
//        top: inherit;
//        right: 0;
//        bottom: -6rem;
//    }
//}

// end slick arrow
