
.pagination {
    display: flex !important;
    padding-left: 0 !important;
    list-style: none !important;
    border-radius: .25rem !important;
}

.page-item.active .page-link {
    background-color: black !important;
    border-color: black !important;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
}
.page-item .page-link {
    border-radius: 5px !important;
    margin: 0 3px !important;
}
.page-link {
    font-weight: 600 !important;
}
.page-link {
    position: relative !important;
    display: block !important;
    padding: .5rem .75rem !important;
    line-height: 1.25 !important;
    border: 1px solid #dee2e6 !important;
    color: black !important;
    background-color: #fff;
}

.page-item.disabled .page-link {
    color: black !important;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
