
      [_nghost-sc1] {
          z-index: 999999;
          pointer-events: none;
          position: relative;
      }
    .ng-progress[_ngcontent-sc4] {
        z-index: 999999;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        zoom: 1;
        filter: alpha(opacity=0);
        opacity: 0;
        transition: opacity 200ms linear;
    }


      .searchAnimation[_ngcontent-sc2] {
          z-index: 10
      }

.active[_ngcontent-sc4] {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: none;
}

.bar[_ngcontent-sc4] {
    position: absolute;
    width: 100%;
    height: 2px;
}

.thick[_ngcontent-sc4] .bar[_ngcontent-sc4] {
    height: 3px;
}

.bar-shadow[_ngcontent-sc4] {
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    width: 100px;
    height: 100%;
    opacity: 1.0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}


.thick[_ngcontent-sc4] .bar-shadow[_ngcontent-sc4] {
    top: -4px;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.thick[_ngcontent-sc4] .spinner-icon[_ngcontent-sc4] {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
}


.spinner[_ngcontent-sc4] {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

.spinner-icon[_ngcontent-sc4] {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    -moz-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.anti-clockwise[_ngcontent-sc4] .spinner-icon[_ngcontent-sc4] {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: rotate(0deg);
    animation-direction: reverse;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.searchAnimation[_ngcontent-sc2] {
    z-index: 10
}

.product-info-wrapper {
  padding: 0 102px;
  margin: 20px 0 0
}

.productDIv {
    padding: 0
}

.rowWrapper {
    margin: 0
}

.product-left-block {
    padding: 0;
    flex: 0 0 46%;
    max-width: 46%
}

.product-left-block .carousel-indicators {
    width: 60px;
    top: 0;
    bottom: auto;
    margin: 0;
    z-index: 2;
    flex-wrap: wrap;
    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    display: inline-block;
    height: 530px;
    overflow: auto
}

.product-left-block .carousel-indicators li {
    width: 100%;
    height: auto;
    flex: inherit;
    text-indent: inherit;
    margin: 0 0 5px;
    background: 0 0;
    padding: 0;
    border-bottom: 2px solid transparent;
    text-align: center;
    border-radius: 0
}

.product-left-block .carousel-indicators li.active {
    border-bottom: 2px solid #151515
}

.carousel-indicators li::before {
    display: none
}

.product-left-block .carousel {
    padding: 0 0 0 85px
}

.product-left-block .carousel-item {
    background: #f0f0f0;
    text-align: center
}

.productDIvrow {
    margin: 0
}

.product-left-block .carousel-control-next,
.product-left-block .carousel-control-prev {
    display: none
}

.product-right-block {
    padding: 0 0 0 25px;
    flex: 0 0 54%;
    max-width: 54%
}

.productInforight {
    padding: 0 85px 0 0
}

.proPDPtag {
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Jost* 800';
    font-weight: 900;
    line-height: 14px
}

.proPDPtag [class^=kz-],
.proPDPtag[class*=" kz-"] {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px
}

.pdp-proname {
    margin: 10px 0;
    font-size: 18px;
    font-family: 'Jost* 500';
    color: #151515
}

.pdpsmtext {
    float: left;
    padding: 0 30px 0 0;
    color: #151515;
    font-size: 12px
}

.pdpsmtext a,
.pdpsmtext span {
    color: #151515;
    text-decoration: none;
    font-family: 'Jost* 500'
}

.pdpProductContent {
    padding: 0;
    margin: 0 0 11px;
    font-size: 12px;
    color: #454545
}

.collection-heads {
    display: inline-block;
    margin-bottom: 18px;
    vertical-align: top
}

.pdp-priceBlock {
    margin-top: 9px;
    display: inline-block;
    vertical-align: top
}

.pdp-price {
    float: left
}

.pdp-price h2 {
    margin: 0;
    font-size: 18px;
    font-family: 'Jost*';
    font-weight: 700;
    display: inline-block;
    vertical-align: top
}

.pdp-price small {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 5px;
    color: #454545
}

.colorssmhead {
    font-size: 12px;
    display: inline-block;
    vertical-align: top
}

.colorssmhead br {
    display: none
}

.colorssmhead b {
    font-family: 'Jost* 500';
    font-weight: 500
}

.pdp-pro-colors {
    padding: 0;
    margin: 18px 0 20px
}

.pdpColorslist {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.pdpColorslist li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0 7px 7px 0
}

.pdpColorslist .roundedcheck {
    width: 30px;
    height: 30px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer
}

.pdpColorslist .checkbox label {
    width: 30px;
    height: 30px;
    border: 0 solid #cecece;
    background: #fff;
    overflow: hidden;
    padding: 0
}

.checkbox.roundedcheck input[type=checkbox]+label:before,
.radio.roundedcheck input[type=radio]+label:before {
    width: 30px;
    height: 30px;
    opacity: 0;
    top: 0
}

.pdpColorslist .checkbox.roundedcheck input[type=checkbox]+label:before {
    border: 1px solid transparent;
    content: ''
}

.pdpColorslist .checkbox.roundedcheck input[type=checkbox]:checked:disabled+label,
.pdpColorslist .checkbox.roundedcheck input[type=checkbox]:disabled+label {
    opacity: .5;
    cursor: not-allowed
}

.pdpColorslist .checkbox label.pdpcolorselected {
    border: 1px solid #000
}

.pdpColorslist .checkbox.roundedcheck input[type=checkbox]+label.pdpcolorselected:before {
    border: 1px solid #fbfbfb;
    content: '';
    opacity: 1;
    top: 0;
    z-index: 1;
    width: 28px;
    height: 28px
}

.pdpColorslist .colorbox {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    text-align: center;
    cursor: pointer
}

.colorbox img {
    max-width: 28px
}

.pdpColorslist .colorbox+small {
    display: none
}

.roundedcheck label {
    overflow: inherit
}

.newTagPDP {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #272e6f;
    font-size: 8px;
    color: #fff;
    text-align: center;
    line-height: 8px;
    text-transform: uppercase;
    padding: 2px 0 0;
    z-index: 2
}

.pdp-pro-sizes {
    padding: 0;
    margin-bottom: 22px
}

.spnSizelabel {
    font-size: 12px;
    color: #000;
    float: left
}

.spnSizelabel b {
    font-family: 'Jost* 500';
    font-weight: 500
}

.spnSizelabel small {
    font-size: 12px
}

.knowyoursize {
    float: right;
    font-size: 11px;
    font-family: 'Jost* 500';
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    text-decoration: underline
}

.pdp-pro-sizesinner {
    padding: 0;
    margin: 6px 0 0;
    display: flex;
    flex-wrap: wrap
}

.pdpSizeDiv {
    display: inline-block;
    margin: 0 7px 7px 0;
    vertical-align: top
}

.pdpSizeLink {
    min-width: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 7px 9px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #858585;
    transition: border-color linear .3s;
    -webkit-transition: border-color .3s linear;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 13px
}

.sizeDisabled {
    cursor: not-allowed
}

.sizeDisabled:before {
    content: '';
    width: 130%;
    height: 1px;
    background: #ccc;
    position: absolute;
    left: -6px;
    top: 13px;
    transform: rotate(32deg);
    -webkit-transform: rotate(32deg)
}

.pdpSizeLink:hover,
.sizeSelected {
    border-color: #000;
    background: #000;
    color: #fff
}

.sizeDisabled::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    float: left;
    position: absolute;
    left: 0;
    display: none
}

.pdp-buybuttons {
    padding: 0;
    margin: 14px 0 0;
    position: relative
}

.pdpBtnAddtocartDiv {
    padding: 0 0 0 154px
}

.pdpBtnAddtocart,
.pdpSizeBtnMobile a {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background: #000;
    border: 1px solid #000;
    font-family: 'Jost* 500';
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    vertical-align: top
}

.pdptQty {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 140px;
    border: 1px solid #000;
    z-index: 1
}

.pdptQty .form-control {
    border: 0;
    height: 48px;
    padding: 6px 38px;
    text-align: center;
    color: #151515;
    background: #fff
}

.qtyMinus,
.qtyPlus {
    position: absolute;
    left: 15px;
    color: #858585;
    top: 50%;
    font-size: 14px;
    font-weight: 700;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer
}

.qtyPlus {
    right: 15px;
    left: auto
}

.pdp-addtowishlist,
.pdp-checkService {
    float: left;
    padding: 2px 0 0 20px;
    font-size: 12px;
    color: #151515;
    font-weight: 700;
    text-transform: uppercase;
    position: relative
}

.pdp-checkService {
    padding: 0;
    float: right
}

.mobileWishlist::before,
.pdp-addtowishlist:before {
    content: "\e93f";
    font-size: 15px;
    display: inline-block;
    font-family: kazen-font !important;
    position: absolute;
    left: 0;
    top: 0
}

.mobileWishlist::before {
    left: 8px;
    top: 6px
}

.addedToWishlist:before {
    content: "\e958"
}

.pdp-checkService:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    bottom: -5px;
    background: #151515;
    height: 2px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all .3s ease-out
}

.pdp-checkService:hover:after {
    width: 100%
}

.fabricReturns {
    font-size: 13px;
    color: #000;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
    font-family: 'Jost*';
    float: right
}

.fabricReturns a {
    color: #151515;
    text-decoration: underline
}

.fabricReturns span {
    margin: 0 5px 0 0
}

.retrunsContent {
    padding: 0
}

.pro-dispatched {
    padding: 10px 20px 3px;
    margin: 0;
    font-size: 14px;
    color: #151515;
    text-align: left;
    font-family: 'Jost* 500'
}

.pro-dispatched span {
    padding: 0 0 0 46px;
    float: none;
    display: table-cell;
    vertical-align: middle
}

.pro-dispatched a {
    text-decoration: underline;
    color: #333
}

.pro-dispatched .icon {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 36px
}

.pro-dispatched .col-xs-12.padding-0 .col-12 {
    width: 100%;
    display: table;
    height: 36px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #333
}

.shippingDispatchText {
    min-height: 36px;
    padding: 0;
    align-items: center;
    display: flex;
    margin: 0 0 20px;
    font-family: 'Jost*'
}

.returnProduct {
    font-family: 'Jost*';
    padding: 0;
    min-height: 34px;
    margin: 0 0 20px
}

.checkServiceability {
    padding: 0 20px 20px
}

.checkDeliverability {
    padding: 0
}

.btnCheckPincode {
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 9px 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Jost*';
    font-weight: 700;
    font-size: 10px;
    line-height: 16px
}

.checkDeliverability .inputBlock {
    padding: 0 82px 0 0
}

.deliveryInfo {
    display: block;
    width: 100%;
    font-family: 'Jost*';
    color: #2aa92f;
    font-size: 13px;
    position: relative;
    padding: 0 0 0 20px
}

.deliveryInfo:before {
    content: "\e910";
    position: absolute;
    left: 0;
    top: 0;
    font-family: kazen-font !important
}

.pdpNotifyme {
    padding: 0
}

.pdpNotifymeMsg {
    padding: 0;
    font-size: 14px;
    margin: 0 0 20px
}

.pdpNotifymeTextbox {
    padding: 0
}

.pdpNotifymeTextbox .inputBlock {
    padding: 0 100px 0 0
}

.pdpNotifymeTextbox .form-control {
    background: 0 0
}

.pdpAvailableSizes {
    padding: 0;
    margin: 24px 0 5px
}

.pdpAvailableSizes h4 {
    font-size: 12px;
    font-weight: 700;
    color: #151515;
    text-transform: uppercase;
    margin: 0 0 10px
}

.pdpAvailableSizesinner,
.pdpOffers {
    padding: 0
}

.pdpPackofDiv {
    display: inline-block;
    margin: 0 8px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center
}

.pdpPackofDiv a {
    color: #151515
}

.pdpPackofDiv i {
    display: block;
    margin-bottom: 5px
}

.pdpPackofDiv i img {
    max-width: 50px
}

.productFeaturesBlock {
    padding: 0;
    margin: 20px 0
}

.pdpTabHeading .row {
    margin: 0
}

.pdpTabHeading a {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #151515;
    border: 1px solid #151515;
    padding: 7px 12px
}

.productFeaturesTabs {
    padding: 0 60px
}

.pdpTabHeading {
    padding: 0
}

.pdpTabHeading a:first-child {
    border-left: 0
}

.pdpTabHeading a:last-child {
    border-right: 0
}

.pdpTabHeading a span {
    display: inline-block;
    position: relative;
    padding: 0 18px 0 0
}

.mobileTabLink span::before,
.pdpTabHeading a span:before {
    content: "\e912";
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
    font-family: kazen-font !important
}

.mobileTabLink.tabLinkActive span::before,
.pdpTabHeading a.tabLinkActive span:before {
    content: "\e96e"
}

.pdpTabContentBlock {
    padding: 0
}

.pdpTabContent {
    padding: 0;
    border-bottom: 1px solid #000
}

.tableContent {
    margin: 0;
    padding: 0;
    width: 100%
}

.tableContent th {
    font-size: 13px;
    padding: 12px 25px;
    font-family: 'Jost* 500';
    font-weight: 500
}

.tableContent td {
    padding: 16px;
    font-size: 12px;
    color: #151515;
    border: 1px solid #000
}

.productFeaturesTbl tr:first-child td,
.specialFeatures tr:first-child td,
.styleFeaturesTable tr:first-child td {
    border-top: 0
}

.productFeaturesTbl tr:last-child td,
.specialFeatures tr:last-child td,
.styleFeaturesTable tr:last-child td {
    border-bottom: 0
}

.productFeaturesTbl tr td:first-child {
    border-left: 0
}

.productFeaturesTbl tr td:last-child {
    border-right: 0
}

.mobileTabLink,
.pdpTabContentBlock {
    display: none
}

.watchVideo {
    position: absolute;
    left: 85px;
    bottom: 60px;
    padding: 10px 15px 10px 40px;
    background: url(../static05.jockey.in/uploads/angularimages/images/icon-play-grey.png) 10px center/24px auto no-repeat #fff;
    font-size: 13px;
    color: #151515;
    border-radius: 3px;
    box-shadow: 0 0 10px #c3c3c3;
    z-index: 3
}

.product-left-block .carousel-indicators li.pdpVideoThumb::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    background: url(https://static05.jockey.in/uploads/angularimages/images/icon-play-white.png) center no-repeat rgba(0, 0, 0, .4)
}

.mobileWishlist {
    display: none
}

.washCareIcons {
    padding: 30px;
    text-align: center
}

.washIcons {
    width: 85px;
    margin: 0 6px 10px 10px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    word-wrap: break-word
}

.washIcons span {
    width: 100%;
    padding: 5px 0 0;
    display: inline-block
}

.styleFeaturesTable td {
    border-right: 0;
    padding-left: 30px;
    position: relative
}

.styleFeaturesTable td:before {
    content: '';
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 100%;
    position: absolute;
    left: 14px;
    top: 23px
}

.splFeaturesTable td:before {
    display: none
}

.splFeaturesTable th {
    text-align: right
}

.knowyour-size-popup {
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 110;
    color: #fff;
    overflow: auto;
    transition: height ease-in-out .5s;
    -webkit-transition: height .5s ease-in-out
}

.knowyour-size-show {
    height: 100%;
    padding: 0 0 30px;
    opacity: 1;
    transition: height ease-in-out .5s;
    -webkit-transition: height .5s ease-in-out
}

.knowyoursize-popup-inner {
    padding: 80px 0 0
}

.knowyoursize-popup-inner h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin: 0
}

.knowyoursize-popup-inner h2 small {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 0 0 0 100px;
    text-transform: uppercase
}

.knowyoursize-popup-inner .megamenu-close {
    top: 6px
}

.KYS-tab-heading {
    text-align: center;
    padding: 30px 0 0
}

.title-kys {
    visibility: hidden
}

.KYS-tab-heading a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 8px 30px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-weight: 700
}

.KYS-tab-heading a.active {
    border-color: #04afff;
    color: #04afff
}

.size-chart-content {
    padding: 30px 0 0
}

.size-chart-left {
    max-width: 760px
}

.img-sizechart {
    position: absolute;
    top: 50%;
    left: 0;
    max-width: 268px;
    min-height: 80px;
    min-width: 1px;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%)
}

.sizechart-tbl-block {
    float: right;
    padding: 10px 30px 30px 270px;
    margin-top: 50px;
    border-right: 2px solid #30b2ff
}

.sizechart-avail-sizes {
    padding: 0 0 20px;
    text-align: center;
    border-bottom: 2px solid #fff
}

.sizechart-avail-sizes a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border: 2px solid #04afff;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    vertical-align: top;
    margin-right: 6px;
    position: relative
}

.sizechart-avail-sizes a.selected {
    background: #04afff
}

.sizechart-avail-sizes a.selected:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -22px;
    margin-left: -7px
}

.sizechart-info {
    margin: 0;
    padding: 10px 0 0;
    font-size: 14px
}

.size-chart-table {
    width: 100%;
    display: none
}

.size-chart-table td {
    width: 33.33333%;
    text-align: center;
    padding: 10px 8px;
    vertical-align: middle;
    border-bottom: 1px solid #a1a1a1
}

.size-chart-table .pdp-pro-sizes {
    display: inline-block;
    padding: 0
}

.size-chart-table .pdp-pro-sizes input[type=submit] {
    margin: 8px 5px 0;
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 5px;
    float: left;
    border: 1px solid #a1a1a1;
    background: #fff;
    font-size: 13px;
    text-align: center;
    color: #000;
    border-radius: 30px;
    outline: 0
}

.size-chart-table .pdp-pro-sizes.width-auto input[type=submit] {
    width: auto
}

.size-chart-table .pdp-pro-sizes input[type=submit].size-selected,
.size-chart-table .pdp-pro-sizes input[type=submit]:hover {
    background: #000;
    color: #fff;
    font-weight: 700
}

.size-chart-table td:last-child {
    text-align: center;
    width: 24%
}

.lbl-Overbust,
.lbl-underbust {
    text-align: center;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 0 0 4px
}

.lbl-Overbust:before,
.lbl-underbust:before {
    content: 'A';
    width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
    display: inline-block;
    background: #ffe507;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%
}

.lbl-underbust:before {
    content: 'B';
    background: #58ecee
}

.text-yellow {
    color: #ffe507
}

.text-skyblue {
    color: #58ecee
}

.tbl-show {
    display: table
}

.size-chart-right {
    padding: 0 0 0 20px;
    margin-top: 50px;
    min-height: 335px;
    min-width: 420px
}

.knowyoursize-popup-inner .size-chart-right h2 {
    margin: 0 0 8px;
    width: 100%;
    text-align: left;
    color: #fff
}

.knowyoursize-popup-btn {
    padding: 0;
    margin: 20px 0 0
}

.knowyoursize-popup-btn .pdp-btn-buynow {
    float: left;
    padding: 12px 10px;
    min-height: 50px
}

.brasize-calculator-block {
    float: right;
    padding: 10px 30px 30px 240px;
    margin-top: 50px;
    border-right: 2px solid #30b2ff;
    display: none
}

.brasize-calculator-block .form-control {
    padding: 6px 12px;
    height: 40px;
    font-size: 13px
}

.bra-calc-form {
    padding: 0
}

.bra-calc-form .col-xs-6 {
    padding: 0 7px
}

.bra-calc-btns {
    padding: 12px 0 0
}

.brasize-calculator-block h3 {
    display: inline-block;
    margin: 30px 0 10px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase
}

.btn-still-confused {
    display: inline-block;
    margin: 14px 0 0;
    padding: 0 25px 0 0;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    color: #04afff;
    background: url(https://static05.jockey.in/uploads/angularimages/images/icon-filled-arrow.png) right bottom no-repeat
}

.btn-still-confused span {
    font-size: 14px;
    font-weight: 700;
    color: #fff
}

.size-chart-table small,
.tbl-show small {
    display: block;
    font-size: 10px
}

.btnBuynowsizeChart,
.button-skyblue {
    float: left;
    padding: 12px 65px;
    border: 1px solid #000;
    font-family: 'Jost* 500';
    font-size: 12px;
    color: #000;
    background: #fff;
    text-align: center;
    transition: all .3s;
    text-transform: uppercase;
    margin: 20px 0 0
}

.button-skyblue {
    float: none;
    width: 100%;
    background: #c1e0fe;
    color: #1a2026;
    margin: 0;
    border: 0
}

.site-price-block {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.site-price-block h3 {
    margin: 0;
    font-size: 18px;
    font-family: 'Jost*';
    font-weight: 700;
    line-height: 16px
}

.inc-taxes {
    text-align: left
}

.size-chart-right h5 {
    margin: 10px 0 30px;
    font-size: 18px;
    font-family: 'Jost* 500';
    color: #fff
}

.btnBuynowsizeChart {
    margin: 15px 0 0
}

.knowyouSizePopClose {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 111;
    padding: 15px 16px 16px 36px;
    font-family: 'Jost* 500';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff
}

.knowyouSizePopClose:before {
    content: "\e90c";
    font-family: kazen-font !important;
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 14px;
    top: 10px
}

.bra-calc-form .col-6 {
    padding: 0 5px
}

.bra-calc-form .row {
    margin: 0
}

.sizechartdivimg {
    position: absolute;
    left: -270px;
    top: 0;
    width: 212px;
    padding: 53px 0 0;
    height: 100%;
    border: 1px solid transparent;
    text-align: center
}

.sizechartdivimg.withsizes {
    padding: 0
}

.sizechartimg-tbl {
    display: table;
    width: 100%;
    height: 100%
}

.sizechartimg-row {
    display: table-row
}

.sizechartimg-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: right
}

.sizechartimg-cell img {
    max-width: 210px
}

.pdpVideo-dimensions,
.pdpVideodiv.video-js {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex
}

.videoBlock {
    position: absolute;
    left: 85px;
    width: 396px;
    height: 100%;
    z-index: 3;
    top: 0;
    padding: 0;
    max-height: 528px;
    display: none
}

.videoBlock video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.pdpDisclaimer {
    float: left;
    width: 100%;
    padding: 5px 0 0;
    font-size: 11px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    line-height: 12px
}

.pdpDisclaimerInner {
    padding: 8px;
    background: rgba(0, 0, 0, .6)
}

.pdpStyleFeaturesBlock {
    padding: 0;
    margin-bottom: 30px;
    text-align: center
}

.pdpStyleFeaturesBlock h2 {
    font-size: 18px;
    color: #151515;
    margin: 0 0 10px;
    font-family: 'Jost* 500';
    font-weight: 500
}

.pdpStyleFeatureVideo {
    display: inline-block;
    max-width: 100%
}

.productFeatureContent {
    padding: 60px 60px 0
}

.productFeatureThumbBlock {
    padding: 0 30px
}

.productFeatureThumbBlock .mb-4 {
    border-radius: 0;
    border: 0;
    background: 0 0;
    margin-bottom: 0 !important
}

.thumbnailHeading {
    font-size: 18px;
    color: #151515;
    margin: 0 0 10px;
    font-family: 'Jost* 500';
    font-weight: 500
}

.productFeatureThumbBlock sup {
    font-size: 60%
}

.productFeatureThumbBlock .card-text {
    color: #858585;
    font-size: 13px;
    line-height: 20px
}

.productFeatureThumbBlock .card-img-top {
    border-radius: 0
}

.productPacks {
    float: left;
    font-size: 12px;
    color: #000;
    position: absolute;
    z-index: 1;
    left: 85px;
    width: 42px;
    top: 0
}

.iconPDPFeature {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    opacity: .6
}

.pdpTitleHeader {
    padding: 0
}

.pdpTitleHeaderMobile {
    display: none
}

.returnPopup .popupheader {
    margin-bottom: 15px
}

@media (min-width:999px) {

    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(5),
    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(5)~a.desPdpTabLink {
        width: 20%
    }

    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(4),
    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(4)~a.desPdpTabLink {
        width: 25%
    }

    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(3),
    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(3)~a.desPdpTabLink {
        width: 33.33%
    }

    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(2),
    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(2)~a.desPdpTabLink {
        width: 50%
    }

    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(1),
    .pdpTabHeading a.desPdpTabLink:first-child:nth-last-child(1)~a.desPdpTabLink {
        width: 100%
    }

    .product-left-block .carousel-item {
        min-height: 300px
    }
}

@media (max-width:1300px) {
    .product-info-wrapper {
        min-height: 300px
    }
}

.pdpRowBlock {
    margin: 0
}

@media (max-width:1200px) {
    .product-info-wrapper {
        padding: 0 52px;
        margin: 20px 0 0
    }

    .videoBlock {
        width: 406px;
        max-height: 100%
    }
}

@media (max-width:1130px) {
    .product-info-wrapper {
        padding: 0;
        margin: 20px 0 0
    }

    .productInforight {
        padding: 0
    }

    .product-left-block,
    .product-right-block {
        flex: 0 0 50%;
        max-width: 50%
    }

    .product-left-block {
        overflow: hidden
    }

    .videoBlock {
        width: 466px;
        max-height: 100%
    }
}

@media (max-width:1024px) {
    .product-info-wrapper {
        padding: 0;
        margin: 0
    }

    .product-left-block,
    .product-right-block {
        flex: 0 0 100%;
        max-width: 100%
    }

    .product-left-block .carousel-indicators {
        display: block;
        width: 100%;
        position: absolute;
        top: auto;
        bottom: 10px;
        text-align: center;
        overflow: inherit;
        height: auto
    }

    .pdpDisclaimerHave .carousel-indicators {
        bottom: 40px
    }

    .product-left-block .carousel-indicators li {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: 0;
        margin: 0 2px;
        background: #e2e2e2
    }

    .product-left-block .carousel-indicators li.active {
        border: 0;
        background: #151515
    }

    .product-left-block .carousel-indicators li img,
    .product-left-block .carousel-indicators li:last-child::after {
        display: none
    }

    .product-left-block .carousel {
        padding: 0
    }

    .pdpRowBlock {
        margin: 0 -15px
    }

    .product-right-block {
        padding: 0
    }

    .productInforight {
        padding: 0 15px
    }

    .pdp-price h2 {
        font-size: 22px
    }

    .pdp-price small {
        font-size: 12px;
        margin: 4px 0 0 5px
    }

    .bredcrumbsBlock {
        display: none
    }

    .product-left-block .carousel-item {
        padding: 0
    }

    .pdpProductContent {
        margin: 20px 0
    }

    .pdp-pro-colors {
        margin: 15px 0
    }

    .pdp-buybuttons {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 9
    }

    .pdpBtnAddtocart {
        margin: 0
    }

    .pdpBtnAddtocartDiv {
        padding: 0 0 0 184px
    }

    .pdptQty {
        width: 184px
    }

    .fabricReturns {
        margin-bottom: 25px;
        width: 100%
    }

    .pdp-addtowishlist {
        display: none
    }

    .styleFeaturesTable,
    .styleFeaturesTable tbody {
        display: block
    }

    .styleFeaturesTable tbody tr {
        float: left;
        width: 100%
    }

    .styleFeaturesTable th {
        float: left;
        width: 100%;
        text-align: left !important;
        padding: 12px 0
    }

    .styleFeaturesTable td {
        float: left;
        width: 100%;
        border: 0;
        padding: 0 0 0 20px;
        position: relative
    }

    .splFeaturesTable td,
    .splFeaturesTable th {
        float: none;
        width: auto;
        padding: 12px 15px
    }

    .splFeaturesTable td {
        float: none;
        padding: 12px 15px
    }

    .splFeaturesTable th {
        min-width: 73px
    }

    .styleFeaturesTable td:before {
        left: 7px;
        top: 7px
    }

    .washCareIcons {
        padding: 0
    }

    .specialFeatures th {
        width: 80px
    }

    .productFeaturesTbl,
    .productFeaturesTbl tbody {
        display: block
    }

    .productFeaturesTbl td {
        float: left;
        width: 100%;
        border: 0;
        padding: 0
    }

    .productFeaturesTbl td ul {
        margin: 0;
        padding: 0 0 0 15px
    }

    .productFeaturesTabs {
        padding: 0 15px
    }

    .relatedProductsBlock h2 {
        padding: 0 15px;
        font-size: 20px
    }

    .relatedProductsSlider {
        padding: 0 5px
    }

    .watchVideo {
        left: 0;
        top: 0;
        bottom: auto;
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        background: #f3f3f3;
        padding: 10px 15px;
        text-align: center;
        font-family: 'Jost* 600 semi';
        position: relative;
        max-height: 40px;
        width: 100%;
        max-width: 100%;
        display: inline-block
    }

    .watchVideo span {
        display: inline-block;
        position: relative;
        background: url(https://static05.jockey.in/uploads/angularimages/images/icon-play-mobile.png) 0 0/17px auto no-repeat;
        min-height: 23px;
        padding: 2px 0 0 25px
    }

    .pauseVideo span {
        background: url(https://static05.jockey.in/uploads/angularimages/images/icon-pause-mobile.png) 0 0/17px auto no-repeat
    }

    .relatedProductsBlock {
        padding: 0;
        margin: 20px 0
    }

    [id=pdpWishlistMobile] {
        position: absolute;
        left: -100vw
    }

    [id=pdpWishlistMobile]:checked+label {
        color: #e2264d;
        will-change: font-size;
        -webkit-animation: 1s cubic-bezier(.17, .89, .32, 1.49) heart;
        animation: 1s cubic-bezier(.17, .89, .32, 1.49) heart
    }

    [id=pdpWishlistMobile]:checked+label:after,
    [id=pdpWishlistMobile]:checked+label:before {
        -webkit-animation: inherit;
        animation: inherit;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    [id=pdpWishlistMobile]:checked+label:before {
        will-change: transform, border-width, border-color;
        -webkit-animation-name: bubble;
        animation-name: bubble
    }

    [id=pdpWishlistMobile]:checked+label:after {
        will-change: opacity, box-shadow;
        -webkit-animation-name: particles;
        animation-name: particles
    }

    [for=pdpWishlistMobile] {
        align-self: center;
        position: relative;
        color: #aab8c2;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        top: 6px;
        left: 8px;
        height: 18px
    }

    [for=pdpWishlistMobile]:after,
    [for=pdpWishlistMobile]:before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        content: ''
    }

    [for=pdpWishlistMobile]:before {
        box-sizing: border-box;
        margin: -2.25rem;
        border: 2.25rem solid #e2264d;
        width: 4.5rem;
        height: 4.5rem;
        transform: scale(0)
    }

    [for=pdpWishlistMobile]:after {
        margin: -.1875rem;
        width: .375rem;
        height: .375rem;
        box-shadow: .32476rem -3rem 0 -.1875rem #ff8080, -.32476rem -2.625rem 0 -.1875rem #ffed80, 2.54798rem -1.61656rem 0 -.1875rem #ffed80, 1.84982rem -1.89057rem 0 -.1875rem #a4ff80, 2.85252rem .98418rem 0 -.1875rem #a4ff80, 2.63145rem .2675rem 0 -.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -.1875rem #80c8ff, -1.59425rem 2.562rem 0 -.1875rem #80c8ff, -.84635rem 2.50595rem 0 -.1875rem #a480ff, -2.99705rem .35095rem 0 -.1875rem #a480ff, -2.48692rem .90073rem 0 -.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -.1875rem #ff8080
    }

    @-webkit-keyframes heart {

        0%,
        17.5% {
            font-size: 0
        }
    }

    @keyframes heart {

        0%,
        17.5% {
            font-size: 0
        }
    }

    @-webkit-keyframes bubble {
        15% {
            transform: scale(1);
            border-color: #cc8ef5;
            border-width: 2.25rem
        }

        100%,
        30% {
            transform: scale(1);
            border-color: #cc8ef5;
            border-width: 0
        }
    }

    @keyframes bubble {
        15% {
            transform: scale(1);
            border-color: #cc8ef5;
            border-width: 2.25rem
        }

        100%,
        30% {
            transform: scale(1);
            border-color: #cc8ef5;
            border-width: 0
        }
    }

    @-webkit-keyframes particles {

        0%,
        20% {
            opacity: 0
        }

        25% {
            opacity: 1;
            box-shadow: .32476rem -2.4375rem 0 0 #ff8080, -.32476rem -2.0625rem 0 0 #ffed80, 2.1082rem -1.26585rem 0 0 #ffed80, 1.41004rem -1.53985rem 0 0 #a4ff80, 2.30412rem .85901rem 0 0 #a4ff80, 2.08305rem .14233rem 0 0 #80ffc8, .76499rem 2.33702rem 0 0 #80ffc8, 1.18748rem 1.71734rem 0 0 #80c8ff, -1.35019rem 2.0552rem 0 0 #80c8ff, -.60229rem 1.99916rem 0 0 #a480ff, -2.44865rem .22578rem 0 0 #a480ff, -1.93852rem .77557rem 0 0 #ff80ed, -1.70323rem -1.77366rem 0 0 #ff80ed, -1.81501rem -1.03204rem 0 0 #ff8080
        }
    }

    @keyframes particles {

        0%,
        20% {
            opacity: 0
        }

        25% {
            opacity: 1;
            box-shadow: .32476rem -2.4375rem 0 0 #ff8080, -.32476rem -2.0625rem 0 0 #ffed80, 2.1082rem -1.26585rem 0 0 #ffed80, 1.41004rem -1.53985rem 0 0 #a4ff80, 2.30412rem .85901rem 0 0 #a4ff80, 2.08305rem .14233rem 0 0 #80ffc8, .76499rem 2.33702rem 0 0 #80ffc8, 1.18748rem 1.71734rem 0 0 #80c8ff, -1.35019rem 2.0552rem 0 0 #80c8ff, -.60229rem 1.99916rem 0 0 #a480ff, -2.44865rem .22578rem 0 0 #a480ff, -1.93852rem .77557rem 0 0 #ff80ed, -1.70323rem -1.77366rem 0 0 #ff80ed, -1.81501rem -1.03204rem 0 0 #ff8080
        }
    }

    .mobileWishlist {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;
        background: #fff;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        z-index: 1;
        color: #151515;
        box-shadow: 0 0 10px #d6d6d6
    }

    .pdpAvailableSizes {
        margin: 10px 0 20px
    }

    .pdp-pro-sizes {
        margin-bottom: 10px
    }

    .pdp-checkService,
    .pdpAvailableSizes h4 {
        font-size: 11px
    }

    .pdptQty .form-control {
        font-size: 14px
    }

    .pdpDisclaimer {
        padding: 0;
        bottom: 0
    }

    .productFeaturesBlock {
        margin: 20px 0 0
    }

    .videoBlock {
        width: 100%;
        left: 0;
        max-height: 100%
    }

    .pdpTitleHeader {
        display: none
    }

    .pdpTitleHeaderMobile {
        display: block
    }
}

@media (max-width:999px) {
    .productFeaturesTabs {
        padding: 0
    }

    .pdpTabHeading {
        display: none
    }

    .pdpTabContentBlock {
        padding: 0
    }

    .pdpTabContent {
        padding: 15px;
        border: 0;
        display: none
    }

    .mobileTabLink {
        float: left;
        width: 100%;
        padding: 10px 12px;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        text-transform: uppercase;
        font-size: 13px;
        color: #151515;
        display: block
    }

    .mobileTabLink span {
        width: 100%
    }

    .mobileTabLink span::before {
        right: 20px;
        top: 13px
    }

    .pdpTabContentBlock {
        display: inline-block;
        vertical-align: top;
        margin-top: -1px
    }

    .spnSizelabel small {
        display: block
    }

    .knowyour-size-popup {
        height: 100%;
        background: rgba(0, 0, 0, .4);
        display: none;
        opacity: 1
    }

    .knowyoursize-popup-inner {
        display: inline-block;
        width: 100%;
        max-height: 90%;
        background: #fff;
        float: left;
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-animation-duration: .7s;
        animation-duration: .7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        padding: 0
    }

    .size-chart-left,
    .size-chart-right {
        width: 100%;
        text-align: center;
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%
    }

    .img-sizechart {
        position: relative;
        left: inherit;
        top: -45px;
        display: none
    }

    .knowyoursize-popup-inner h2.title-kys {
        background: #fff;
        float: left;
        width: 100%;
        padding: 10px 15px;
        position: relative;
        z-index: 1;
        color: #414f61;
        text-transform: none;
        text-align: left;
        font-size: 15px;
        font-weight: 700
    }

    .KYS-tab-heading {
        padding: 0;
        z-index: 1
    }

    .KYS-tab-heading a {
        color: #6e6e6e;
        width: 48%;
        text-transform: none;
        font-weight: 700
    }

    .sizechart-avail-sizes a {
        color: #757575
    }

    .sizechart-avail-sizes a.selected {
        color: #fff
    }

    .brasize-calculator-block,
    .sizechart-tbl-block {
        margin: 5px 0 0;
        padding: 0 14px;
        border: 0
    }

    .size-chart-content {
        padding: 0;
        background: #fff
    }

    .bra-calc-form,
    .sizechart-avail-sizes {
        background: #fff;
        padding: 14px
    }

    .bra-calc-form {
        padding: 14px 0
    }

    .sizechart-info {
        margin-top: 0
    }

    .sizechart-avail-sizes a.selected:after {
        bottom: -16px
    }

    .size-chart-right {
        min-width: 100%;
        padding: 0 14px;
        text-align: left;
        min-height: inherit;
        margin: 20px 0;
        color: #2d2d2d
    }

    .site-price-block {
        padding: 10px 0;
        text-align: left
    }

    .site-price-block h2,
    .site-price-block span {
        display: inline-block;
        float: none;
        width: 100%
    }

    .knowyoursize-popup-btn .btn-buynow {
        width: 100%
    }

    .size-chart-table .pdp-pro-sizes input[type=submit] {
        padding: 5px;
        width: 40px;
        height: 34px;
        border-radius: 0
    }

    .brasize-calculator-block h3 {
        font-size: 16px;
        margin: 20px 0
    }

    .size-chart-content .row {
        margin: 0
    }

    .lbl-Overbust,
    .lbl-underbust {
        color: #616161;
        position: relative;
        padding-top: 8px
    }

    .lbl-Overbust:before,
    .lbl-underbust:before {
        position: absolute;
        left: 50%;
        top: 0;
        margin: -10px 0 0 -9px;
        width: 17px;
        height: 17px
    }

    .size-chart-table small,
    .tbl-show small {
        color: #616161
    }

    .site-price-block span {
        font-size: 14px
    }

    .size-chart-table td {
        color: #616161;
        font-size: 13px
    }

    .title-kys {
        visibility: visible
    }

    .knowyouSizePopClose {
        padding: 0;
        width: 20px;
        height: 24px;
        right: auto;
        left: 50%;
        top: -28px;
        font-size: 20px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%)
    }

    .knowyouSizePopClose span {
        display: none
    }

    .knowyouSizePopClose:before {
        left: 0;
        top: 0;
        color: #fff;
        opacity: .8
    }

    .btnBuynowsizeChart {
        background: #000;
        color: #fff;
        width: 100%;
        margin: 0
    }

    .videoBlock {
        padding: 0;
        max-height: 100%;
        width: 100%;
        left: 0
    }

    .pdpStyleFeaturesBlock {
        margin: 30px 0
    }

    .productFeatureContent {
        padding: 30px 10px 0
    }

    .productFeatureContent .row {
        margin: 0;
        white-space: nowrap;
        overflow: auto;
        display: inline-block;
        width: 100%;
        padding: 0 10px
    }

    .productFeatureThumbBlock {
        padding: 0 8px;
        white-space: normal;
        width: 32%;
        display: inline-block;
        margin-right: -4px
    }

    .mobileSizeSelectionDivInner {
        padding: 0 10px 0 15px;
        white-space: nowrap;
        overflow: auto
    }

    .pdpSizeBtnMobile {
        margin: 12px 0 0
    }

    .sizeSelctionMobile .knowyoursize {
        margin: -15px 10px 12px 0;
        text-decoration: underline
    }

    .pdpTitleHeader {
        display: none
    }

    .pdpTitleHeaderMobile {
        display: block;
        padding: 10px 15px 0
    }

    .collection-heads {
        width: 100%;
        margin-bottom: 14px
    }

    .pdp-nq {
        padding-right: 0;
        float: right
    }

    .pdp-proname {
        font-size: 20px;
        margin: 7px 0
    }

    .pdpsmtext {
        font-size: 13px
    }

    .productPacks {
        right: auto;
        left: 0
    }

    .size-chart-right h5 {
        color: #000;
        margin-bottom: 0
    }
}

@media (max-width:800px) {
    .productFeatureThumbBlock .card-body {
        padding: 20px 0 10px
    }
}

@media (max-width:767px) {
    .productFeatureContent {
        padding: 30px 0 0
    }

    .pdpStyleFeaturesBlock h2 {
        font-size: 20px
    }
}

@media (max-width:568px) {
    .pdp-proname {
        font-size: 18px
    }

    .pdpsmtext {
        padding-right: 10px;
        font-size: 11px
    }

    .pdp-nq {
        float: right;
        padding-right: 0;
        text-align: right
    }

    .pdpSizeLink {
        min-width: 48px;
        padding: 7px 11px
    }

    .spnSizelabel {
        width: 76%
    }

    .pdpPackofDiv img {
        max-width: 50px
    }

    .pdpPackofDiv {
        margin: 0 8px
    }

    .pdptQty {
        width: 130px
    }

    .pdpBtnAddtocartDiv {
        padding: 0 0 0 130px
    }

    .relatedProductsBlock .popularProInfo {
        padding: 10px
    }

    .qtyMinus,
    .qtyPlus {
        font-size: 11px;
        line-height: 15px
    }

    .brasize-calculator-block .form-control {
        padding: 6px
    }

    .size-chart-right {
        font-size: 14px
    }

    .size-chart-right h5 {
        font-size: 18px
    }

    .site-price-block h3 {
        font-size: 20px
    }

    .site-price-block span {
        font-size: 13px
    }

    .knowyoursize-popup-inner h2 {
        font-size: 16px
    }

    .size-chart-table td {
        padding: 10px 4px
    }

    .sizechart-avail-sizes a {
        width: 40px;
        height: 40px;
        line-height: 36px;
        font-size: 12px
    }

    .KYS-tab-heading a {
        padding: 8px 10px;
        font-size: 13px
    }

    .productFeatureThumbBlock {
        width: 280px;
        margin-right: -4px
    }

    .washIcons {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0 8px 20px
    }

    .washIcons:nth-child(4n+1) {
        clear: both
    }
}

@media (max-width:480px) {
    .pdpDisclaimer {
        font-size: 10px;
        line-height: 11px
    }

    .pdpDisclaimerInner {
        padding: 4px
    }

    .product-left-block .carousel-indicators li {
        width: 7px;
        height: 7px
    }
}

.pdpproductNotFoundBlock h2 {
    font-size: 24px;
    font-family: 'Jost* 500';
    color: #151515;
    margin: 0 0 20px;
    padding: 0 50px
}

.pdpproductNotFoundInner {
    padding: 30px;
    background: #fff;
    margin: 50px 0 0;
    font-size: 15px;
    color: #454545
}

.pdpproductNotFoundInner .row {
    margin: 0;
    min-height: 200px
}

.pdpproductnotFoundInfo {
    font-size: 18px;
    color: #454545;
    text-align: center
}

.pdpnotFoundHeading {
    font-size: 72px;
    color: #151515;
    font-family: 'Jost*';
    font-weight: 700;
    line-height: 72px;
    display: block
}

.pdpproductNotFoundItem {
    width: 330px;
    position: absolute;
    left: 0;
    top: 0;
    display: -moz-flex;
    display: flex
}

.pdpproductItemBlock {
    padding: 0;
    margin: 0 0 25px;
    background: #fff
}

.pdpproductItemBlockInner {
    padding: 0;
    color: #151515
}

.pdpproductItemDivBlock {
    float: left;
    width: 100%;
    position: relative;
    background: #f2f2f2;
    overflow: hidden
}

.pdppopularProDiv {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
    text-align: center
}

.pdpproductItemInfo {
    padding: 15px;
    background: #fff
}

.pdpproductItemInfo h4 {
    font-size: 13px;
    font-family: 'Jost* 500';
    color: #454545;
    margin: 0 0 5px;
    max-height: 32px;
    overflow: hidden;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis
}

@media (max-width:999px) {
    .pdpproductNotFoundInner {
        padding: 0 15px;
        margin: 20px 0 0;
        background: 0 0;
        text-align: center
    }

    .pdpproductNotFoundItem {
        position: relative;
        left: inherit;
        top: inherit;
        display: inline-block;
        vertical-align: top
    }

    .pdpproductnotFoundInfo {
        float: left;
        width: 100%
    }

    .pdpproductnotFoundInfo span {
        display: none
    }

    .pdpnotFoundHeading {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 14px
    }

    .pdpproductNotFoundInner .row {
        min-height: 150px
    }
}

@media (max-width:800px) {
    .pdpproductNotFoundItem {
        width: 230px;
        max-width: 230px
    }
}

.iconsplpdp {
    max-width: 50px
}


      .relatedProductsBlock[_ngcontent-sc11] .row[_ngcontent-sc11] {
          margin: 0
      }

      .relatedProductsBlock[_ngcontent-sc11] {
          padding: 0;
          margin: 20px 0 0
      }

      .relatedProductsBlock[_ngcontent-sc11] .popularProBlock[_ngcontent-sc11] {
          padding: 0 10px
      }

      .relatedProductsSlider[_ngcontent-sc11] {
          padding: 0 38px
      }

      .relatedProductsBlock[_ngcontent-sc11] .popularProBlockInner[_ngcontent-sc11] {
          background: #fff
      }

      .relatedProductsBlock[_ngcontent-sc11] .popularProInfo[_ngcontent-sc11] {
          padding: 15px;
          margin: 0
      }

      .relatedProductsBlock[_ngcontent-sc11] h2[_ngcontent-sc11] {
          font-size: 18px;
          font-family: 'Jost* 500';
          color: #151515;
          margin: 0 0 20px;
          padding: 0 50px
      }

      @media (max-width:999px) {
          .relatedProductsBlock[_ngcontent-sc11] h2[_ngcontent-sc11] {
              padding: 0
          }

          .relatedProductsBlock[_ngcontent-sc11] {
              padding: 0 15px
          }
      }

      @media (max-width:800px) {

          .relatedProductsBlock[_ngcontent-sc11] .popularProBlock[_ngcontent-sc11],
          .relatedProductsSlider[_ngcontent-sc11] {
              padding: 0
          }
      }

      .pdppageblankimg,
      .listpageblankimg {
          opacity: 0 !important;
      }
