
.ng-progress[_ngcontent-sc4] {
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 200ms linear;
}

.active[_ngcontent-sc4] {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: none;
}

.bar[_ngcontent-sc4] {
    position: absolute;
    width: 100%;
    height: 2px;
}

.thick[_ngcontent-sc4] .bar[_ngcontent-sc4] {
    height: 3px;
}

.bar-shadow[_ngcontent-sc4] {
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    width: 100px;
    height: 100%;
    opacity: 1.0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}


.thick[_ngcontent-sc4] .bar-shadow[_ngcontent-sc4] {
    top: -4px;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.thick[_ngcontent-sc4] .spinner-icon[_ngcontent-sc4] {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
}


.spinner[_ngcontent-sc4] {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

.spinner-icon[_ngcontent-sc4] {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    -moz-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.anti-clockwise[_ngcontent-sc4] .spinner-icon[_ngcontent-sc4] {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: rotate(0deg);
    animation-direction: reverse;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mainProductlistdiv {
    padding: 0
}

.listPageBanner {
    padding: 0;
    display: none
}

.listPageBanner img {
    width: 100%
}

.leftSideFilter {
    padding: 0;
    margin: 0;
    flex: 0 0 18%;
    max-width: 18%
}

.filtersPanel {
    padding: 0
}

.mainProductlistdiv-inner {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%
}

.filtersPanel .panel-group {
    float: left;
    width: 100%
}

.filtersPanel .panel-group .panel {
    float: left;
    width: 100%;
    position: relative
}

.panel-heading {
    float: left;
    width: 100%;
    padding: 6px 20px 6px 0;
    position: relative;
    margin-bottom: 8px;
    border-bottom: 1px solid #d0d0d0
}

.panelHeadingActive,
.panelHeadingActive:hover {
    background: 0 0
}

.panel-title {
    margin: 0;
    font-family: 'Jost*';
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: text-bottom;
    width: 100%;
    padding-right: 8px
}

.panel-title a {
    color: #151515;
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    min-height: 17px
}

.panelHeadingActive .panel-title a {
    color: #151515;
    padding-top: 1px
}

.panel-collapse {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    z-index: 2;
    padding: 0 20px
}

.rightsideProducts {
    padding: 0 0 0 92px;
    margin: 0;
    flex: 0 0 82%;
    max-width: 82%
}

.productsFetchHere {
    padding: 0
}

.productsFetchHere .row {
    margin: 0 -35px
}

.productItemBlock {
    padding: 0;
    margin: 0 0 32px;
    background: #fff
}

.productItemBlock:hover {
    box-shadow: 0 2px 4px #00000029;
    -webkit-box-shadow: 0 2px 4px #00000029
}

.productItemBlock .popularProDiv img {
    transition: all ease-in-out .6s;
    -webkit-transition: .6s ease-in-out
}

.productItemDivBlock {
    float: left;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;
    padding: 0;
    transition: all ease-in-out 1s;
    -webkit-transition: 1s ease-in-out
}

.productItemBlockInner {
    padding: 0;
    color: #151515;
    position: static
}

.productItemInfo {
    padding: 6px 10px;
    background: #fff;
    text-align: left;
    transition: padding ease-in-out 1s;
    -webkit-transition: padding 1s ease-in-out
}

.productItemInfo h4 {
    font-size: 13px;
    font-family: 'Jost* 500';
    color: #151515;
    margin: 0 0 2px;
    max-height: 32px;
    overflow: hidden;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.spnProrice {
    font-family: 'Jost*';
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    float: left;
    font-weight: 700;
    color: #002588
}

.proItemTag {
    font-size: 10px;
    font-family: 'Jost* 500';
    color: #0167ff;
    text-transform: uppercase;
    float: right;
    margin: 4px 0 0;
    display: none
}

.proItemTag span {
    display: inline-block;
    font-size: 13px;
    line-height: 12px;
    vertical-align: top;
    margin: 1px 4px 0 0
}

.filterRow {
    margin: 0
}

.filterList {
    list-style: none;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.filterList li {
    padding: 2px 0;
    float: left;
    width: 100%
}

.filSelected {
    width: 16px;
    height: 16px;
    background: #151515;
    font-size: 10px;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    line-height: 13px;
    text-align: center;
    vertical-align: top;
    margin-top: 1px;
    font-family: 'Jost* 500';
    padding: 2px 0;
    margin-left: 2px;
    margin-right: 5px;
    border: 1px solid transparent
}

.panelHeadingActive .filSelected {
    border-color: #141414
}

.panel-title a.filClear {
    font-size: 13px;
    text-transform: none;
    color: #454545;
    font-weight: 400;
    position: relative;
    padding: 1px 0 0 20px;
    margin-left: 2px;
    vertical-align: top;
    max-height: 15px;
    float: right;
    display: none !important
}

.panel-title a.filClear .filSelected {
    background: #454545
}

.panel-title a.filClear:before {
    content: '\e90c';
    width: 16px;
    height: 16px;
    background: #454545;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    left: 0;
    top: -1px;
    color: #fff;
    font-family: kazen-font !important;
    border-radius: 100%
}

.filtersPanel .panel-group .panel:hover .panel-title a.filClear {
    width: auto;
    white-space: normal;
    overflow: inherit;
    text-overflow: inherit
}

.filtersPanel .panel-body {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    width: 100%
}

.filtersPanel .panel-body .filterList {
    max-height: 170px;
    overflow: hidden;
    overflow-y: scroll;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    -webkit-transition: max-height .5s cubic-bezier(0, 1, 0, 1)
}

.filtersPanel .panel-body .filterList.filterListActive {
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
    -webkit-transition: max-height .5s cubic-bezier(0, 1, 0, 1)
}

.filtersPanel .panel-body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #858585;
    width: 4px;
    border-radius: 5px
}

.sizes-boxes {
    margin: 0;
    padding: 0
}

.sizes-boxes li {
    float: left;
    width: 33.3%;
    padding: 3px;
    list-style: none
}

.sizes-boxes li .checkbox {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #858585
}

.sizes-boxes .checkbox label {
    padding: 5px;
    width: 100%;
    height: 28px;
    text-align: center;
    transition: color linear .5s;
    -webkit-transition: color .5s linear
}

.sizes-boxes li .checkbox input[type=checkbox] + label:before {
    content: '';
    top: 0;
    width: 100%;
    height: 28px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    transition: border-color linear .5s;
    -webkit-transition: border-color .5s linear
}

.sizes-boxes li .checkbox input[type=checkbox]:checked + label:before,
.sizes-boxes li .checkbox:hover input[type=checkbox] + label,
.sizes-boxes li .checkbox:hover input[type=checkbox] + label:before {
    border-color: #151515
}

.sizes-boxes li .checkbox label span {
    position: relative;
    z-index: 1
}

.sizes-boxes li .checkbox input[type=checkbox]:disabled + label,
.sizes-boxes li .checkbox input[type=checkbox]:disabled + label:before {
    opacity: .6;
    text-decoration: line-through
}

.sizes-boxes-threeColumn li {
    width: 33.33%
}

.colorsList li {
    width: 100%
}

.colorsList li .checkbox input[type=checkbox] + label:before {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #000;
    top: 2px
}

.colorsList li .checkbox input[type=checkbox]:checked + label:before {
    border-color: #00f
}

.colorsList li .checkbox input[type=checkbox]:checked:disabled + label:before,
.colorsList li .checkbox input[type=checkbox]:disabled + label:before {
    border-color: grey
}

.colorsList li .checkbox input[type=checkbox]:disabled + label {
    color: grey
}

.colorsList li .checkbox label {
    text-align: left;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 21px
}

.colorbox {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 4px;
    top: 6px;
    border-radius: 100%
}

.availableSizesList {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .99);
    width: 100%;
    padding: 5px 10px;
    transition: opacity ease-in-out .3s;
    -webkit-transition: opacity .3s ease-in-out;
    text-align: left;
    opacity: 0;
    z-index: -1
}

.availableSizesList small {
    float: left;
    width: 100%;
    font-family: 'Jost* 500';
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #858585;
    letter-spacing: .02em
}

.availableSizesList span {
    float: left;
    font-size: 13px;
    color: #151515;
    font-family: 'Jost*';
    font-weight: 700;
    padding-right: 12px;
    margin: 5px 0 0;
    /*border: 1px solid #e6e6e6;*/
}

.availableSizesList.introjs-showElement {
    pointer-events: none
}

.productItemBlock:hover .availableSizesList {
    bottom: 0;
    opacity: 1;
    z-index: 1
}

.listSubCategories .row {
    margin: 0
}

.collectionFilters {
    display: none;
    margin: 15px 0 0
}

.filtersInner {
    display: block;
    width: 100%
}

.searchResultsTitle {
    margin: 20px 0;
    font-family: 'Jost* 500';
    color: #d0d0d0;
    font-size: 28px;
    padding: 0
}

.searchResultsTitle b {
    text-transform: uppercase;
    color: #151515;
    font-weight: 400
}

.productNotFoundBlock h2 {
    font-size: 24px;
    font-family: 'Jost* 500';
    color: #151515;
    margin: 0 0 20px;
    padding: 0 50px
}

.productNotFoundInner {
    padding: 30px;
    background: #fff;
    margin: 50px 0 0;
    font-size: 15px;
    color: #454545
}

.productNotFoundInner .row {
    margin: 0;
    min-height: 200px
}

.productnotFoundInfo {
    font-size: 18px;
    color: #454545;
    text-align: center
}

.notFoundHeading {
    font-size: 72px;
    color: #151515;
    font-family: 'Jost*';
    font-weight: 700;
    line-height: 72px;
    display: block
}

.productNotFoundItem {
    width: 330px;
    position: absolute;
    left: 0;
    top: 0
}

.relatedProducts {
    font-size: 24px;
    font-family: 'Jost* 500';
    color: #151515;
    margin: 60px 0 0;
    padding: 0
}

.sizes-boxes li.lblFreesize {
    width: 50%
}

.collectionTablinksDiv {
    padding: 0;
    margin: 8px 0 0
}

.collectionTablinksDivInner {
    display: inline-block;
    vertical-align: top
}

.collectionTablink {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #151515;
    font-family: 'Jost* 500';
    margin: 0 10px;
    position: relative
}

.collectionTablink:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    background: #151515;
    height: 2px;
    transition: all .3s ease-out
}

.collectionTablink:hover:after,
.collectionTablinkActive:after {
    left: 0;
    width: 100%
}

.icon-juniors {
    right: 8px;
    width: 15px;
    position: absolute;
    top: 8px;
    z-index: 1
}

.productPacksList {
    float: left;
    font-size: 12px;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.spnStyleNum {
    display: inline-block;
    float: none;
    font-size: 12px;
    font-family: 'Jost* 500';
    font-weight: 400;
    width: auto;
    margin-top: 0;
    margin-bottom: 5px;
    vertical-align: top;
    color: #151515
}

.divPriceStyle {
    width: 100%;
    display: inline-block;
    vertical-align: top
}

.productItemInfoInner {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    line-height: 18px
}

.productsBlockRow {
    margin: 12px 0 0
}

.mainProductlistdiv .bredcrumbsBlock {
    margin: 0;
    padding: 4px 0 7px
}

.mainProductlistdiv .bredcrumbs li {
    font-size: 10px
}

.mainProductlistdiv .bredcrumbs {
    width: auto;
    display: inline-block;
    vertical-align: top
}

.itemsCountListpage {
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-family: 'Jost* 500'
}

.availableColorlist {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 50px
}

.availableColorlist li {
    display: inline-block;
    vertical-align: top
}

.availableColorlist span.spnAvailColor {
    padding: 2px;
    margin: 2px;
    max-height: 23px;
    min-width: 23px
}

.availableColorlist span.spnAvailColor img {
    vertical-align: top;
    width: 17px;
    max-height: 17px;
    max-width: 17px
}
.availableColorlist span.spnAvailColor span {
    cursor: pointer;
    vertical-align: top;
    width: 17px;
    height: 17px;
    max-height: 17px;
    max-width: 17px
}

.availableColorlist span.spnAvailColor:hover {
    background: #fff;
    box-shadow: 0 0 3px #ded8d8;
    /*border: 1px solid #0167ff*/
}

.spnAvailColor {
    padding: 4px;
    display: inline-block;
    vertical-align: top
}

.owl-thumb-item.active span.spnAvailColor {
    background: #fff;
    box-shadow: 0 0 3px #ded8d8;
    border: 1px solid #0167ff
}

.availableColorlistMobile .spnAvailColor {
    width: 28px;
    height: 28px;
    margin: 0
}

.availableColorlistMobile .spnAvailColor img {
    width: 100%;
    vertical-align: top
}

.availableColorsBlock,
.availableSizesBlock {
    display: inline-block;
    vertical-align: top;
    width: 100%
}

.availableSizesBlock {
    padding-left: 4px;
    margin-top: 4px
}

.filterTitleDiv {
    padding: 0;
    margin: 0 0 5px
}

.filterTitleDiv h6 {
    color: #151515;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700
}

.filterTitleDiv a {
    font-size: 13px;
    color: #151515;
    text-decoration: underline;
    float: right;
    margin: 0;
    display: inline-block;
    font-family: 'Jost* 500'
}

.productMobile {
    display: none
}

.productsFetchHere .popularProDiv {
    max-height: 370px
}

.colorItemCount {
    min-width: 24px
}

.colorItemCount a {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-family: 'Jost* 500';
    font-weight: 400;
    color: #242424;
    margin: 4px 0 0
}

.availableSizesList .divPriceStyle .spnProrice {
    font-size: 12px;
    color: #002588;
    border: 0
}

.availableSizesList .divPriceStyle .proItemTag {
    font-size: 12px;
    font-family: 'Jost* 500';
    float: right;
    font-weight: 400;
    border: 0;
    padding-right: 0;
    padding-top: 1px;
    color: #151515;
    display: inline-block
}

.divRestOfColors {
    font-size: 13px;
    font-family: 'Jost* 500';
    font-weight: 400;
    color: #242424;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px
}

.filter-facet-selected {
    display: inline-block;
    margin: 0 0 8px;
    padding: 0
}

.facetotion {
    background: #eee;
    display: inline-block;
    color: #000;
    font-size: 13px;
    border-radius: 30px;
    padding: 3px 32px 3px 12px;
    position: relative;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 6px
}

.facetotion:before {
    content: "\e90c";
    font-family: kazen-font !important;
    position: absolute;
    right: 10px;
    top: 3px
}

.facetotion:hover {
    background: #151515;
    color: #fff
}

.facet-clear {
    font-size: 13px;
    color: #151515;
    text-decoration: underline;
    float: none;
    margin: 4px 0 0 5px;
    display: inline-block
}

.panel-heading:before {
    content: "\e902";
    font-family: kazen-font !important;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    color: #858585;
    font-size: 10px;
    transition: rotate ease-in 1s;
    -webkit-transition: rotate 1s ease-in
}

.panel-heading:hover:before {
    color: #242424
}

.panelHeadingActive:before,
.panelHeadingActive:hover:before {
    color: #151515;
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transform: translateY(-50%) rotate(-180deg)
}

.sortByBlock {
    float: right;
    position: relative
}

.bredcrumbsBlock .sortByBlock {
    margin: 0
}

.refineSortBy .sortByBlock {
    display: none
}

.selectedSortItem {
    float: right;
    padding: 8px 22px 4px 0;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Jost*';
    font-weight: 700;
    position: relative;
    cursor: pointer
}

.sortList {
    width: 164px;
    height: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-family: 'Jost*';
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 30px;
    transition: box-shadow .3s cubic-bezier(.19, 1, .22, 1), height .3s cubic-bezier(.19, 1, .22, 1), width .3s cubic-bezier(.19, 1, .22, 1), left .3s cubic-bezier(.19, 1, .22, 1);
    cursor: pointer;
    z-index: 2
}

.sortByBlockActive.sortList {
    height: 170px;
    padding: 6px 0;
    background-color: #fff;
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, .15)
}

.sortList li {
    float: left;
    width: 100%;
    padding: 8px 15px;
    margin: 2px 0;
    list-style: none;
    color: #151515
}

.sortList li:hover {
    background: #e3e7e8
}

.sortList li.selectedSortItem {
    padding-right: 16px
}

.selectedSortItem:before {
    content: "\e902";
    font-family: kazen-font !important;
    position: absolute;
    top: 9px;
    right: 0;
    color: #858585;
    font-size: 10px
}

.eachProData {
    display: -moz-flex;
    display: flex;
    padding: 0 35px
}

.products-load {
    text-align: center;
    padding: 0;
    margin: 10px 0 0
}

.products-load span,
.products-load span small {
    width: 100%;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 0;
    display: inline-block;
    vertical-align: top
}

.products-load span small {
    font-size: 14px;
    color: #7a7a7a;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 0
}

.icon-rotate svg,
.icon-rotate svg image {
    width: 40px;
    height: 40px
}

.icon-rotate svg {
    animation: .8s linear infinite iconspinner;
    -webkit-animation: .8s linear infinite iconspinner
}

@keyframes iconspinner {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0)
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes iconspinner {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0)
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

.refineSortBy {
    position: relative;
    float: right
}

.btnRefine {
    display: none;
    float: left;
    padding: 2px 0 0 20px;
    font-size: 11px;
    color: #151515;
    font-family: 'Jost*';
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    text-align: left
}

.btnRefine:before {
    content: '\e943';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    font-family: kazen-font !important
}

.btnCloseFilters,
.mobileFilterCategoryHeading,
.productsItemsCountMobile {
    display: none
}

.filtersBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    z-index: 10;
    background: #fff;
    display: none
}

.filtersBottom .filter-facet-selected {
    white-space: nowrap;
    display: block;
    margin: 0 0 12px;
    overflow: auto
}

.filtersBottom .filter-facet-selected .facetotion {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin: 0
}

.filtersBottom .filter-facet-selected .facetotion:first-child {
    margin-left: 15px
}

.filtersBottom .filter-facet-selected .facetotion:last-child {
    margin-right: 15px
}

.filtersButton a {
    float: left;
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #000;
    font-family: 'Jost* 500';
    font-size: 12px;
    color: #000;
    background: #fff;
    text-align: center;
    transition: all .3s
}

.productsItemsCountFilters,
.resetFilters {
    float: left;
    font-size: 13px;
    color: #858585
}

.productsItemsCountFilters b,
.resetFilters b {
    font-size: 15px;
    color: #151515
}

.resetFilters b {
    margin-right: 5px
}

.resetFilters {
    float: right
}

.prolistBottom {
    padding: 20px 15px;
    margin: 10px 0 25px;
    font-size: 14px;
    color: #454545;
    line-height: 21px;
    background: #fff
}

.prolistBottom p {
    color: #000
}

.prolistBottom h3 {
    font-size: 13px;
    color: #000;
    font-family: 'Jost*';
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 12px
}

.productTitle {
    padding: 0;
    margin: 2px 0 4px;
    text-align: center
}

.productTitle h1 {
    margin: 0 0 10px;
    text-align: left;
    color: #151515;
    font-size: 22px;
    font-family: 'Jost* 500';
    font-weight: 500;
    text-transform: uppercase;
    display: inline;
    vertical-align: top
}

.productTitleInnerDiv {
    display: inline-block;
    vertical-align: top
}

.productTitle h1 small,
.productTitle small {
    display: inline-block;
    font-family: 'Jost* 500';
    font-size: 12px;
    vertical-align: top;
    margin: 5px 0 0 8px;
    font-weight: 400;
    color: #242424;
    position: relative;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center
}

.listSubCategories {
    padding: 0;
    margin: 0 0 12px
}

.listSubCategories a {
    background: #eee;
    display: inline-block;
    color: #454545;
    font-size: 13px;
    border-radius: 30px;
    padding: 6px 12px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    vertical-align: top;
    line-height: 13px
}

.listSubCategories a.subCtgActive,
.listSubCategories a:hover {
    color: #fff;
    background: #000
}

.collectionRefineDiv .sortByBlock {
    margin: 0
}

.collectionRefineDiv .btnRefine:before {
    display: block
}

.newArrivalTabLinks {
    padding: 0;
    margin: 8px 0 0
}

.newArrivalTabLinks a:first-child {
    margin-left: 0
}

.productLoadingDiv {
    padding: 0;
    text-align: center
}

.productLoading {
    width: 50px;
    color: #858585;
    font-size: 13px;
    display: inline-block;
    position: relative;
    padding: 0 0 21px;
    cursor: default
}

.productLoading span {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: absolute;
    left: 16px;
    bottom: 0;
    font-size: 18px;
    color: #151515
}

.collectionButtons {
    padding: 0;
    text-align: center;
    margin: 20px 0
}

.collectionButtonsInner {
    display: inline-block
}

.collectionButtons a {
    display: inline-block;
    padding: 15px 25px;
    margin: 0 13px;
    background: #000;
    border: 1px solid #000;
    font-family: 'Jost* 500';
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    vertical-align: top
}

.collectionButtons a.btnViewAllproducts {
    background: #fff;
    color: #000
}

.pricesliderArea {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 10px 0
}

.spnListColorCount {
    float: none;
    font-size: 12px;
    font-family: 'Jost* 500';
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 12px
}

.spnListColorCount small {
    font-size: 12px;
    font-family: 'Jost* 500'
}

.spnListColorCount label {
    width: 10px;
    height: 12px;
    display: inline-block
}

.divPriceStyle small {
    font-size: 11px;
    font-family: 'Jost* 500'
}

.productStyleRow {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative
}

.sortByBlock {
    margin: 0
}

.owl-carousel .owl-item {
    background: #00f;
    border: 1px solid #000
}

.owl-stage {
    display: flex
}

.owl-thumbs {
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 4px
}

.owl-thumbs::-webkit-scrollbar {
    display: none
}

.owl-thumb-item {
    width: 28px;
    border: 0;
    padding: 0;
    margin-left: 0;
    background: 0 0;
    outline: 0
}

.owl-thumb-item:focus {
    outline: dotted 0;
    outline: -webkit-focus-ring-color auto 0
}

.owl-thumb-item img {
    max-width: 100%
}

.productStyleRow .owl-nav,
.productStyleRow .owl-nav .owl-next,
.productStyleRow .owl-nav .owl-prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.productStyleRow .owl-nav .owl-next,
.productStyleRow .owl-nav .owl-prev {
    width: 24px;
    height: 30px;
    opacity: .4
}

.productStyleRow .owl-nav {
    left: 0;
    width: 100%;
    display: none
}

.productStyleRow .owl-nav .owl-prev {
    left: 20px
}

.productStyleRow .owl-nav .owl-next {
    right: 20px
}

.productStyleRow .owl-nav .owl-prev::after {
    content: "\e902";
    font-family: kazen-font !important;
    position: absolute;
    top: 0;
    left: 0;
    color: #858585;
    font-size: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
}

.productStyleRow .owl-nav .owl-next::after {
    content: "\e902";
    font-family: kazen-font !important;
    position: absolute;
    top: 0;
    left: 0;
    color: #858585;
    font-size: 20px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg)
}

.mobileProductInfo {
    padding: 0
}

.productItemBlock .popularProDiv img {
    width: 100%
}

.spnColorRepeat {
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: top;
    margin: 0 !important
}

.fill-checkbox,
.fill-radio {
    color: #000
}

.filterShowMore {
    display: inline-block;
    color: #0a18f3;
    font-size: 13px;
    vertical-align: top;
    padding: 0 0 0 19px;
    font-family: 'Jost* 500';
    position: relative;
    margin: 5px 0 0 17px
}

.filterShowMore::before,
.filterShowMoreActive::after {
    content: '\e912';
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 1;
    font-size: 10px;
    text-align: center;
    color: #0a18f3;
    font-family: kazen-font !important;
    font-weight: 400
}

.filterShowMoreActive::after {
    content: '';
    width: 11px;
    height: 2px;
    top: 8px;
    left: 1px;
    background: #0a18f3
}

.filterShowMoreActive .spnMoreFil,
.filterShowMoreActive::before,
.spnLessFil {
    display: none
}

.filterShowMoreActive .spnLessFil {
    display: inline-block
}

.productBlankImg {
    max-width: 233px
}

.productHaveColors .productItemBlock:hover .popularProDiv {
    padding: 6px
}

.productHaveColors .productItemBlock:hover .productBlankImg {
    /*min-height: 315px;*/
}

.productHaveColors .productItemBlock:hover .productItemInfoInner {
    /*opacity: 0;*/
    /*margin-top: -10px;*/
}

.selectedFiltersDivBlock {
    padding: 0 0 0 5px;
    margin-bottom: 10px
}

.colorGuidenceTooltipDiv {
    position: absolute;
    right: 9px;
    top: -116px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 232px;
    display: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .4)
}

.productItemBlock.colorGuidenceTooltip .colorGuidenceTooltipDiv {
    display: inline-block
}

.colorGuidenceTooltipInner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-family: 'Jost* 500';
    text-align: center;
    font-size: 14px
}

.introjs-arrow {
    border: 15px solid #000;
    content: '';
    right: 15px;
    position: absolute
}

.introjs-arrow.bottom {
    bottom: -29px;
    border-color: #fff transparent transparent
}

.tooltipGotit {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    margin: 3px 0 0;
    cursor: pointer
}

.bestSellingTbl {
    width: 100%
}

.bestSellingTbl th {
    color: #151515;
    border-bottom: 1px solid #000
}

.bestSellingTbl td,
.bestSellingTbl th {
    padding: 5px 3px
}

.bestSellingTbl td {
    color: #151515
}

.productStylesSlider {
    position: relative
}

.haveTooltipDiv:before {
    content: '';
    background: url(../assets/images/icon-sidetosideScroll.png) center bottom no-repeat rgba(0, 0, 0, .5);
    background-size: 100% auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.productsBlockRow .popularProDivBlock {
    background: #d7d7d7
}

.filDisabled {
    opacity: .5;
    pointer-events: none
}

.owlThumbsAng .owl-thumb-item {
    margin-left: 6px
}

@media (min-width: 999px) {
    .filtersPanel .panel-group .panel:last-child .panel-collapse {
        left: auto;
        right: 0
    }

    .popularProDiv a img {
        max-height: 342px
    }

    .collectionRefineDiv .btnRefine {
        display: block;
        position: relative;
        margin: 8px 20px 0 0;
        font-size: 11px
    }

    .refineSortBy {
        margin: -7px 0 0
    }

    .collectionRefineDiv a.btnRefine:after {
        bottom: -4px
    }
}

@media (max-width: 1280px) {
    .mainProductlistdiv-inner {
        padding: 0 15px
    }

    .mainProductlistdiv .bredcrumbsBlock {
        padding: 4px 15px 7px
    }
}

@media (max-width: 1200px) {
    .eachProData {
        padding: 0 15px
    }

    .productsFetchHere .row {
        margin: 0 -15px
    }
}

@media (max-width: 1150px) {
    .rightsideProducts {
        padding: 0 0 0 52px
    }
}

@media (max-width: 1100px) {
    .panel-title {
        font-size: 11px
    }

    .filSelected {
        width: 15px;
        height: 15px;
        font-size: 8px;
        margin: 0;
        line-height: 12px
    }

    .panel-title a.filClear:before {
        width: 14px;
        height: 14px;
        top: 0;
        font-size: 9px
    }

    .collectionButtons a {
        padding: 12px 15px;
        margin: 0 5px;
        font-size: 11px
    }

    .notFoundHeading {
        font-size: 54px
    }

    .productHaveColors .productItemBlock:hover .productBlankImg {
        min-height: inherit
    }

    .productBlankImg {
        max-width: 220px
    }
}

@media (max-width: 1040px) {
    .productBlankImg {
        max-width: 210px
    }
}

@media (max-width: 999px) {
    .collectionTablinksDivInner {
        width: 100%;
        white-space: nowrap;
        overflow: auto
    }

    .filtersPanel,
    .filtersPanel .panel-collapse,
    .filtersPanel .panel-group {
        position: fixed;
        left: -120%;
        top: 0;
        display: block;
        height: 100%;
        background: #fff;
        width: 300px;
        z-index: 10;
        transition: left .8s;
        -webkit-transition: left .8s
    }

    .filtersActive,
    .filtersPanel .panel-collapseActive,
    .filtersPanel .panel-groupActive {
        left: 0
    }

    .filtersPanel .panel-collapse {
        padding: 48px 0 168px
    }

    .filtersPanel .panel-group {
        padding: 49px 0 168px;
        overflow: auto
    }

    .panel-collapse {
        padding: 48px 15px 168px
    }

    .filtersPanel .panel-body {
        max-height: 90%;
        clear: both;
        padding: 0 15px;
        overflow: auto
    }

    .filtersPanel .panel-body .filterList {
        max-height: inherit
    }

    .filtersPanel .panel-group .panel {
        width: 100%
    }

    .panel-title {
        font-size: 13px
    }

    .panel-heading {
        margin-bottom: 0;
        background: #fff;
        padding: 12px 16px
    }

    .panel-heading:hover,
    .panel:hover > .panel-heading {
        background: #f2f2f2;
        box-shadow: none;
        -webkit-box-shadow: none
    }

    .panel-collapse,
    .panel:hover > .panel-collapse {
        display: block
    }

    .panel-collapse .row {
        margin: 0
    }

    .panel-heading:before {
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg)
    }

    .filtersPanel .panel-group .panel:hover .filClear {
        display: none
    }

    .filtersPanel .panel-group .panel:hover .filSelected {
        display: inline-block
    }

    .filtersPanel .panel-group .panel:hover .panel-heading:before {
        content: '\e902'
    }

    .eachProData {
        padding: 0 8px
    }

    .productsFetchHere .row {
        margin: 0 -10px
    }

    .productMobile .row {
        margin: 0 -15px
    }

    .filter-facet-selected {
        display: none
    }

    .refineSortBy {
        display: block;
        width: 100%;
        margin: 20px 0 0;
        position: relative;
        float: none;
        text-align: right;
        border-top: 1px solid #151515;
        border-bottom: 1px solid #151515;
        padding: 8px 0 0
    }

    .refineRow {
        text-align: right
    }

    .btnRefine,
    .productsItemsCountMobile {
        display: block;
        float: left;
        padding: 2px 0 0 20px;
        font-size: 10px;
        color: #151515;
        font-family: 'Jost*';
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        left: 25%;
        top: 6px;
        margin: 0 0 0 -35px;
        text-align: left
    }

    .productsItemsCountMobile {
        left: auto;
        right: 0;
        padding: 2px 0 0;
        display: none
    }

    .sortByBlock {
        display: inline-block;
        float: none;
        margin: 0;
        vertical-align: top;
        min-width: 50%;
        text-align: center;
        height: 18px;
        border-left: 1px solid #151515;
        padding: 0 5px
    }

    .refineSortBy .sortByBlock {
        display: inline-block;
        vertical-align: top
    }

    .sortByBlockInner {
        display: inline-block;
        vertical-align: top;
        position: relative
    }

    .selectedSortItem {
        font-size: 10px;
        padding: 2px 16px 0 0
    }

    .selectedSortItem:before {
        top: 2px
    }

    .sortList {
        top: 25px;
        text-align: left
    }

    .btnCloseFilters {
        display: block;
        position: absolute;
        z-index: 111;
        padding: 15px 16px 16px 36px;
        background: #fff;
        border-bottom: 1px solid #e1e1e1;
        font-family: 'Jost* 500';
        font-weight: 500;
        text-transform: uppercase;
        font-size: 11px;
        width: 100%;
        color: #858585;
        min-height: 48px
    }

    .btnCloseFilters:before {
        content: "\e90c";
        font-family: kazen-font !important;
        font-size: 16px;
        color: #151515;
        position: absolute;
        left: 14px;
        top: 10px
    }

    .mobileFilterCategoryHeading {
        display: block;
        float: left;
        width: 100%;
        text-transform: uppercase;
        color: #151515;
        font-size: 13px;
        background: #f8f8f8;
        font-family: 'Jost*';
        font-weight: 700;
        padding: 20px 20px 20px 40px;
        position: relative;
        margin-bottom: 12px
    }

    .mobileFilterCategoryHeading:before {
        content: "\e94f";
        font-family: kazen-font !important;
        font-size: 16px;
        color: #151515;
        position: absolute;
        font-weight: 400;
        left: 15px;
        top: 16px;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg)
    }

    .filtersBottom {
        display: block
    }

    .productTitle {
        margin: 20px 0 4px
    }

    .refineStiky {
        position: fixed;
        left: 0;
        top: 50px;
        background: #fff;
        z-index: 8;
        margin: 0;
        padding: 10px;
        max-height: 36px;
        box-shadow: 0 0 5px #a7a2a2;
        border: 0
    }

    .refineStiky .btnRefine {
        left: 25%;
        top: 10px;
        margin-left: -35px
    }

    .refineStiky .productsItemsCountMobile {
        right: 10px;
        top: 10px
    }

    .refineStiky .selectedSortItem {
        border-bottom: 0;
        float: none;
        display: inline-block;
        vertical-align: top
    }

    .listSubCategories {
        margin: 12px 0 5px
    }

    .listSubCategories .row {
        margin: 0 -15px;
        white-space: nowrap;
        overflow: auto;
        flex-wrap: inherit
    }

    .listSubCategories a {
        font-size: 14px
    }

    .listSubCategories .row a:first-child {
        margin-left: 15px
    }

    .listSubCategories .row a:last-child {
        margin-right: 35px
    }

    .productTitle h1 small {
        margin-top: 15px
    }

    .collectionFilters {
        display: block
    }

    .newArrivalTabLinks {
        white-space: nowrap;
        overflow: auto
    }

    .rightsideProducts {
        margin: 10px 0 0
    }

    .prolistBottom {
        font-size: 14px;
        text-align: justify
    }

    .searchResultsTitle {
        margin: 20px 0 40px;
        font-size: 30px
    }

    .productNotFoundInner {
        padding: 0;
        margin: 20px 0 0;
        background: 0 0;
        text-align: center
    }

    .productNotFoundItem {
        position: relative;
        left: inherit;
        top: inherit;
        display: inline-block;
        vertical-align: top
    }

    .productnotFoundInfo {
        float: left;
        width: 100%
    }

    .productnotFoundInfo span {
        display: none
    }

    .notFoundHeading {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 14px
    }

    .relatedProducts {
        margin: 20px 0 0
    }

    .productNotFoundInner .row {
        min-height: 150px
    }

    .filtersPanel .panel-group .panel:hover .panel-title a.filClear,
    .panel-title a.filClear {
        display: none
    }

    .spnProrice,
    .spnStyleNum {
        width: 100%;
        float: none;
        display: inline-block;
        vertical-align: top;
        text-align: left
    }

    .spnStyleNum {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 5px
    }

    .productItemInfo h4 {
        text-transform: uppercase
    }

    .proItemTag {
        float: left;
        margin: 2px 0 6px;
        display: inline-block
    }

    .leftSideFilter,
    .rightsideProducts {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0
    }

    /*.productsFetchHere {*/
    /*    display: none*/
    /*}*/

    .productMobile {
        padding: 0;
        display: inline-block
    }

    .productMobileInner {
        padding: 0
    }

    .productItemBlock:hover .availableSizesList {
        opacity: 0;
        display: none;
        pointer-events: none
    }

    .productStyleRow {
        padding: 30px 0 0;
        margin-bottom: 30px;
        border-top: 1px solid #e6e1e1;
        overflow: hidden
    }

    .productMobileInner .productStyleRow:first-child {
        border-top: 0;
        padding-top: 0
    }

    .availableSizesList {
        z-index: -1
    }

    .spnListColorCount {
        display: none
    }

    .productItemDivBlock {
        text-align: center
    }

    .productItemBlock .popularProDiv img {
        display: inline-block;
        width: 100%
    }

    .productBlankImg {
        width: 100%;
        max-width: 100%
    }

    .productItemBlock {
        box-shadow: none;
        margin: 0;
        height: 100%
    }

    .productStylesSlider .slick-slide {
        padding: 10px
    }

    .productStylesSlider .owl-item .productItemBlock {
        transform: scale(.92);
        -webkit-transform: scale(.92);
        transition: all ease-in-out 1s;
        -webkit-transition: 1s ease-in-out
    }

    .productStylesSlider .owl-item.active .productItemBlock {
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: all ease-in-out 1s;
        -webkit-transition: 1s ease-in-out
    }

    .filSelected {
        position: relative;
        left: inherit;
        top: inherit;
        margin: 2px 0 0;
        line-height: 10px
    }

    .selectedFiltersDivBlock {
        display: none
    }

    .productsFetchHere .popularProDiv {
        max-height: inherit;
        padding: 0
    }

    .productStylesSlider.haveTooltipDiv .owl-stage {
        position: relative
    }
}

@media (max-width: 800px) {
    .eachProData {
        flex: 0 0 33.33%;
        max-width: 33.33%
    }

    .productNotFoundItem {
        width: 230px;
        max-width: 230px
    }
}

@media (max-width: 600px) {
    .eachProData {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 5px
    }

    .productNotFoundItem {
        width: 230px;
        max-width: 230px
    }

    .productsFetchHere .row {
        margin: 0 -8px
    }

    .productMobile .row {
        margin: 0 -15px
    }

    .productItemInfo {
        padding: 12px 20px
    }

    .availableColorsBlockMobile .row {
        margin: 0 0 0 -10px
    }

    .listSubCategories a {
        font-size: 13px
    }

    .availableSizesList span {
        font-size: 11px
    }

    .productTitle h1 small,
    .productTitle small {
        margin: 6px 0 0 8px
    }

    .productItemBlock {
        margin: 0 0 10px
    }

    .collectionButtons a {
        padding: 12px 15px;
        margin: 0 1px;
        font-size: 10px
    }
}

@media (max-width: 480px) {
    .productTitle h1 {
        font-size: 20px
    }

    .productTitle h1 small {
        margin-top: 7px
    }

    .searchResultsTitle {
        margin: 20px 0 40px;
        font-size: 24px
    }
}

@media (max-width: 350px) {

    .filtersPanel,
    .filtersPanel .panel-collapse,
    .filtersPanel .panel-group {
        width: 270px
    }

    .collectionButtons a {
        width: 100%;
        text-align: center;
        margin-bottom: 8px
    }
}

.searchNoResults h2 {
    color: #151515;
    font-size: 28px
}

.searchNoResults {
    padding: 0;
    margin: 40px 0 0;
    font-family: 'Jost* 500'
}

.searchMatchText {
    padding: 0;
    color: #151515;
    font-size: 16px;
    font-family: 'Jost*';
    font-weight: 400
}

.needAssistance {
    padding: 0;
    margin: 30px 0 0;
    color: #151515;
    font-size: 16px;
    font-family: 'Jost*';
    font-weight: 400
}

.buttonContatSearch {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 14px 40px;
    text-align: center;
    font-family: 'Jost* 500';
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 0 18px
}

.searchTips {
    padding: 0;
    margin: 34px 0 10px;
    font-family: 'Jost*';
    font-weight: 400
}

.searchTips h4 {
    font-family: 'Jost* 500';
    font-weight: 500;
    font-size: 18px
}

.searchTips ul {
    margin: 12px 0 0;
    font-size: 15px;
    font-weight: 400
}

.searchTips ul li {
    padding-bottom: 4px
}

.rcomTitle {
    font-size: 18px;
    color: #151515;
    display: inline-block;
    vertical-align: top;
    font-family: 'Jost* 500';
    font-weight: 500;
    margin: 20px 0 10px
}

@media (max-width: 999px) {
    .searchNoResults {
        margin: 20px 0 0
    }

    .searchNoResults h2 {
        font-size: 20px
    }

    .needAssistance,
    .searchMatchText {
        font-size: 16px
    }

    .needAssistance {
        margin: 20px 0 0
    }

    .searchTips {
        padding: 0;
        margin: 24px 0 30px;
        display: none
    }

    .searchTips h4 {
        font-size: 20px
    }

    .searchTips ul {
        font-size: 16px
    }

    .availableColorsBlockMobile .slick-slide {
        text-align: center
    }

    .availableColorsBlockMobile {
        width: 100%;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 8px
    }

    .spnAvailColor {
        padding: 2px
    }

    .productStylesCount {
        font-size: 12px;
        float: right;
        margin-right: 0
    }

    .mobileProductInfo {
        padding: 0
    }

    .availableColorlistMobile .owl-thumb-item:first-child {
        margin-left: 10px
    }

    .availableColorlistMobile .owl-thumb-item:last-child {
        margin-right: 10px
    }

    .owl-thumb-item {
        width: 24px
    }

    .availableColorlistMobile .spnAvailColor {
        width: 24px;
        height: 24px;
        border: 1px solid #e6e6e6
    }

    .availableColorlistMobile .spnAvailColor img {
        max-height: 18px;
        max-width: 18px
    }

    .spnColorRepeat {
        width: 16px;
        height: 16px
    }
}

@media (max-width: 600px) {
    .buttonContatSearch {
        padding: 14px 30px;
        font-size: 13px;
        margin: 0 0 0 10px
    }

    .rcomTitle {
        font-size: 20px
    }

    .productStylesSlider .slick-slide {
        padding: 5px
    }

    .availableColorlistMobile .owl-thumb-item:first-child {
        margin-left: 7px
    }

    .availableColorlistMobile .owl-thumb-item:last-child {
        margin-right: 7px
    }

    .owl-thumb-item {
        width: 22px
    }

    .availableColorlistMobile .spnAvailColor {
        width: 22px;
        height: 22px
    }

    .availableColorlistMobile .spnAvailColor img {
        max-height: 16px;
        width: 16px
    }
}

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item,
.productStylesSlider {
    touch-action: pan-y !important
}

.ng5-slider {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 100%;
    margin: 35px 0 15px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.ng5-slider.with-legend {
    margin-bottom: 40px
}

.ng5-slider[disabled] {
    cursor: not-allowed
}

.ng5-slider[disabled] .ng5-slider-pointer {
    cursor: not-allowed;
    background-color: #d8e0f3
}

.ng5-slider[disabled] .ng5-slider-draggable {
    cursor: not-allowed
}

.ng5-slider[disabled] .ng5-slider-selection {
    background: #8b91a2
}

.ng5-slider[disabled] .ng5-slider-tick {
    cursor: not-allowed
}

.ng5-slider[disabled] .ng5-slider-tick.ng5-slider-selected {
    background: #8b91a2
}

.ng5-slider .ng5-slider-span {
    white-space: nowrap;
    position: absolute;
    display: inline-block
}

.ng5-slider .ng5-slider-base {
    width: 100%;
    height: 100%;
    padding: 0
}

.ng5-slider .ng5-slider-bar-wrapper {
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -16px;
    padding-top: 16px;
    width: 100%;
    height: 32px;
    z-index: 1
}

.ng5-slider .ng5-slider-draggable {
    cursor: move
}

.ng5-slider .ng5-slider-bar {
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    background: #d8e0f3;
    border-radius: 2px
}

.ng5-slider .ng5-slider-bar-wrapper.ng5-slider-transparent .ng5-slider-bar {
    background: 0 0
}

.ng5-slider .ng5-slider-bar-wrapper.ng5-slider-left-out-selection .ng5-slider-bar {
    background: #df002d
}

.ng5-slider .ng5-slider-bar-wrapper.ng5-slider-right-out-selection .ng5-slider-bar {
    background: #03a688
}

.ng5-slider .ng5-slider-selection {
    z-index: 2;
    background: #0db9f0;
    border-radius: 2px
}

.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: -14px;
    background-color: #0db9f0;
    z-index: 3;
    border-radius: 16px
}

.ng5-slider .ng5-slider-pointer:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    background: #fff
}

.ng5-slider .ng5-slider-pointer:hover:after {
    background-color: #fff
}

.ng5-slider .ng5-slider-pointer.ng5-slider-active {
    z-index: 4
}

.ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background-color: #451aff
}

.ng5-slider .ng5-slider-bubble {
    cursor: default;
    bottom: 16px;
    padding: 1px 3px;
    color: #55637d;
    font-size: 16px
}

.ng5-slider .ng5-slider-bubble.ng5-slider-limit {
    color: #55637d
}

.ng5-slider .ng5-slider-ticks {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: -3px;
    margin: 0;
    z-index: 1;
    list-style: none
}

.ng5-slider .ng5-slider-ticks-values-under .ng5-slider-tick-value {
    top: auto;
    bottom: -36px
}

.ng5-slider .ng5-slider-tick {
    text-align: center;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: #d8e0f3;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 11px
}

.ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #0db9f0
}

.ng5-slider .ng5-slider-tick-value {
    position: absolute;
    top: -34px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.ng5-slider .ng5-slider-tick-legend {
    position: absolute;
    top: 24px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 50px;
    white-space: normal
}

.ng5-slider.vertical {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 20px;
    padding: 0;
    vertical-align: baseline;
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.ng5-slider.vertical .ng5-slider-base {
    width: 100%;
    height: 100%;
    padding: 0
}

.ng5-slider.vertical .ng5-slider-bar-wrapper {
    top: auto;
    left: 0;
    margin: 0 0 0 -16px;
    padding: 0 0 0 16px;
    height: 100%;
    width: 32px
}

.ng5-slider.vertical .ng5-slider-bar {
    bottom: 0;
    left: auto;
    width: 4px;
    height: 100%
}

.ng5-slider.vertical .ng5-slider-pointer {
    left: -14px !important;
    top: auto;
    bottom: 0
}

.ng5-slider.vertical .ng5-slider-bubble {
    left: 16px !important;
    bottom: 0
}

.ng5-slider.vertical .ng5-slider-ticks {
    height: 100%;
    width: 0;
    left: -3px;
    top: 0;
    z-index: 1
}

.ng5-slider.vertical .ng5-slider-tick {
    vertical-align: middle;
    margin-left: auto;
    margin-top: 11px
}

.ng5-slider.vertical .ng5-slider-tick-value {
    left: 24px;
    top: auto;
    -webkit-transform: translate(0, -28%);
    transform: translate(0, -28%)
}

.ng5-slider.vertical .ng5-slider-tick-legend {
    top: auto;
    right: 24px;
    -webkit-transform: translate(0, -28%);
    transform: translate(0, -28%);
    max-width: none;
    white-space: nowrap
}

.ng5-slider.vertical .ng5-slider-ticks-values-under .ng5-slider-tick-value {
    bottom: auto;
    left: auto;
    right: 24px
}

.ng5-slider * {
    -webkit-transition: none;
    transition: none
}

.ng5-slider.animate .ng5-slider-bar-wrapper {
    -webkit-transition: all linear .3s;
    transition: all linear .3s
}

.ng5-slider.animate .ng5-slider-selection {
    -webkit-transition: background-color linear .3s;
    transition: background-color linear .3s
}

.ng5-slider.animate .ng5-slider-pointer {
    -webkit-transition: all linear .3s;
    transition: all linear .3s
}

.ng5-slider.animate .ng5-slider-bubble {
    -webkit-transition: all linear .3s;
    transition: all linear .3s
}

.ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
    -webkit-transition: opacity linear .3s;
    transition: opacity linear .3s
}

.ng5-slider.animate .ng5-slider-bubble.ng5-slider-combined {
    -webkit-transition: opacity linear .3s;
    transition: opacity linear .3s
}

.ng5-slider.animate .ng5-slider-tick {
    -webkit-transition: background-color linear .3s;
    transition: background-color linear .3s
}
.searchAnimation[_ngcontent-sc2] {
    z-index: 10
}


/* Home css*/


[_nghost-sc1] {
    z-index: 999999;
    pointer-events: none;
    position: relative;
}

.ng-progress[_ngcontent-sc4] {
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 200ms linear;
    }

.active[_ngcontent-sc4] {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: none;
}

.bar[_ngcontent-sc4] {
    position: absolute;
    width: 100%;
    height: 2px;
}

.thick[_ngcontent-sc4]   .bar[_ngcontent-sc4] {
    height: 3px;
}

.bar-shadow[_ngcontent-sc4] {
    display: block;
    position: absolute;
    right: 0;
    top: -3px;
    width: 100px;
    height: 100%;
    opacity: 1.0;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    transform: rotate(3deg);
}


.thick[_ngcontent-sc4]   .bar-shadow[_ngcontent-sc4] {
    top: -4px;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.thick[_ngcontent-sc4]   .spinner-icon[_ngcontent-sc4] {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
}


.spinner[_ngcontent-sc4] {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

.spinner-icon[_ngcontent-sc4] {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    -moz-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.anti-clockwise[_ngcontent-sc4]   .spinner-icon[_ngcontent-sc4] {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: rotate(0deg);
    animation-direction: reverse;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
